<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form id="gameForm">
    
        <h2>Lobby ID</h2>
    
        <br>
    
        <label for="playerName">Your Name:</label>
        <input type="text" id="playerName" placeholder="Enter Your Name">
    
        <br>
    
        <button type="button">Create Game</button>
    
    </form>

</body>

</html>