<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form id="gameForm">

        <label for="lobbyId">Lobby ID:</label>
        <input type="text" id="lobbyId" placeholder="Enter Lobby ID">

        <br>

        <label for="playerName">Your Name:</label>
        <input type="text" id="playerName" placeholder="Enter Your Name">

        <br>

        <button type="button">Join Game</button>

    </form>

</body>

</html>